<% if (error != "") { %>
<div class="alert alert-warning alert-dismissable fade show" role="alert">
  <strong><%= error %> </strong>
</div>
<% } %>
<!-- br -->
<% if (error_msg != "") { %>
<div class="alert alert-warning alert-dismissable fade show" role="alert">
  <strong><%= error_msg %> </strong>
</div>
<% } %>
<!-- br -->
<% if (success_msg != "") { %>
<div class="alert alert-warning alert-dismissable fade show" role="alert">
  <strong><%= success_msg%> </strong>
</div>
<% } %>
